body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------- AJOUT TAILWIND CUSTOM CLASSES ----------- */

.action-btn {
  @apply flex items-center justify-center gap-2 
         text-white py-2 px-3 rounded-lg 
         shadow hover:opacity-90 transition;
}

/* ------------------------------------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;
